* {
	border-style: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #f9f9f9;
	--second-color: #14161f;
	--border-color: rgba(0, 0, 0, 0.2);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: var(--second-color);
	background-color: var(--first-color);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
	height: 220px;
}
header h1 {
	margin-bottom: 10px;
	font-size: 64px;
	font-weight: 200;
}

header p {
	font-size: 24px;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

h2.title {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-style: 36px;
}

.transactions {
	width: 1000px;
}

.transactions h3 {
	margin-bottom: 30px;
	font-size: 28px;
	text-align: center;
}

.transaction-list {
	display: flex;
}

.income-area,
.expenses-area {
	margin: 0 20px;
	padding: 30px;
	width: 50%;
	border: 1px solid var(--border-color);
}

.income-area h3,
.income-area .transaction-amount {
	color: rgb(19, 200, 108);
}

.expenses-area h3,
.expenses-area .transaction-amount {
	color: rgb(240, 104, 104);
	font-weight: bold;
}
.transaction {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: solid var(--border-color);
}

.transaction:last-child {
	border: none;
}

.transaction-name {
	font-size: 18px;
}
.transaction-name i {
	margin-right: auto;
	align-self: flex-start;
}

.delete {
	margin-left: 10px;
	background: none;
	border: none;
	font-size: 20px;
	color: var(--second-color);
	cursor: pointer;
	transition: transform 3s;
}

.delete:hover {
	transform: scale(0.8);
}

.options {
	padding: 80px 40px;
}
.available-money {
	margin-top: -10px;
	text-align: center;
	font-size: 60px;
}

.controls {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}

.controls button {
	padding: 12px 20px;
	color: var(--second-color);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	background: none;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}
.controls i {
	margin-right: 12px;
}

.controls button:hover {
	color: var(--first-color);
	background-color: var(--second-color);
}

.controls button {
	margin-right: 10px;
}

.style-selection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.color-buttons button {
	margin: 0 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.3s;
}

.color-buttons button:hover {
	transform: scale(0.9);
}

.color-buttons .light {
	background: #f9f9f9;
	border: 1px solid #14161f;
}
.color-buttons .dark {
	background: #14161f;
	border: 1px solid #f9f9f9;
}

.add-transaction-panel {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
	display: none;
}
.add-transaction-panel h2.title {
	font-weight: 200;
	margin-bottom: 0;
	font-size: 36px;
}

.add-transaction-panel label {
	margin-top: 40px;
	margin-bottom: 5px;
}

.add-transaction-panel small {
	margin-bottom: 15px;
	font-style: italic;
	color: #ddd;
}
.add-transaction-panel input {
	width: 800px;
}
.add-transaction-panel select {
	width: 850px;
}

.add-transaction-panel input,
.add-transaction-panel select,
.add-transaction-panel button {
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
}
.add-transaction-panel i {
	margin-right: 10px;
}
.add-transaction-panel button {
	margin: 20px;
	font-size: 20px;
	color: #fff;
	background: none;
	border: 1px solid #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.add-transaction-panel button:hover {
	background-color: #201e1e;
}

@media only screen and (max-width: 992px) {
	body {
		padding: 20px;
	}
	header {
		height: auto;
	}
	header p {
		font-size: 20px;
	}
	header h1 {
		font-size: 48px;
	}

	main {
		flex-direction: column;
	}

	h2.title {
		font-size: 28px;
		margin-top: 40px;
	}

	.transactions {
		width: 100%;
	}

	.transaction-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
	}
	.income-area,
	.expenses-area {
		width: auto;
		padding: 20px 40px;
		margin: 0 auto;
		border: none;
		display: block;
	}
	.income-area h3,
	.expenses-area h3 {
		padding: 0;
		margin: 0 0px;
	}

	.transaction-name {
		font-size: 20px;
	}
	.transaction-amount {
		font-size: 14px;
		margin-left: 10px;
	}

	.delete {
		font-size: 16px;
	}

	.options {
		padding: 40px 10px;
		margin: 0 auto;
	}

	.available-money {
		font-size: 40px;
	}

	.controls {
		flex-direction: column;
		align-items: center;
		margin: 30px 0;
	}

	.controls button {
		margin: 10px 0;
	}

	.color-buttons button {
		margin: 0 15px;
		width: 40px;
		height: 40px;
	}

	.add-transaction-panel {
		height: 130%;
	}

	.add-transaction-panel h2.title {
		font-size: 25px;
		margin: 0 10px;
	}

	.add-transaction-panel label {
		margin-top: 20px;
		margin-bottom: 3px;
	}

	.add-transaction-panel small {
		margin-bottom: 10px;
		font-size: 12px;
	}

	.add-transaction-panel input {
		width: 80%;
	}

	.add-transaction-panel select {
		width: 87%;
	}

	.add-transaction-panel button {
		font-size: 16px;
	}
}
